@import 'common';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
}

h4 {
  font-size: 14px;
  font-weight: 600;
}

#wrapper {
  margin: 0 auto;
  width: 100%;

  #welcome {
    margin: 0px auto;
    width: 100%;
    height: 100vh;
    display: table;
    text-align: center;
    overflow: hidden;
    position: relative;
    background: url('assets/welcome2.jpg');
    background-size: cover;

    #welcome-content {
      display: table-cell;
      vertical-align: middle;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;

      h1 {
        font-weight: 100;
        font-size: 5em;
        margin: 0;
        position: relative;

        @media (max-width: $break-sm) {
          font-size: 2em;
        }

        &:before {
          content: 'Hi I\'m';
          font-size: 0.3em;
          color: #ccc;
          font-style: italic;
          bottom: 15px;
          position: absolute;
          top: -15px;
          margin-left: 5px;

          @media (max-width: $break-sm) {
            top: -10px;
            margin-left: 2px;
            font-size: 0.4em;
          }
        }

        -webkit-animation: fadein 2s;
        -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
        -o-animation: fadein 2s;
        animation: fadein 2s;
      }
      h2 {
        font-weight: 100;
        font-size: 1.5em;
        margin: 0;
        color: #ccc;

        @media (max-width: $break-sm) {
          font-size: 0.8em;
        }

        -webkit-animation: fadein 5s;
        -moz-animation: fadein 5s;
        -ms-animation: fadein 5s;
        -o-animation: fadein 5s;
        animation: fadein 5s;
      }

      ul {
        margin-top: 50px;

        li {
          list-style: none;
          display: inline-block;
          padding: 0 5px;

          a {
            padding: 15px;
            width: 50px;
            border-radius: 50px;
            display: block;
            border: 1px solid #fff;
            color: #fff;
            vertical-align: middle;
            transition: all .3s ease;

            &:hover {
              color: #000;
              background-color: #fff;
              text-decoration: none;
            }

            -webkit-animation: fadein 2s;
            -moz-animation: fadein 2s;
            -ms-animation: fadein 2s;
            -o-animation: fadein 2s;
            animation: fadein 2s;
          }
        }
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}